<!-- header component -->
<%- include partials/header.ejs -%>
    <div class="container">

        <h1 class="heading">About</h1>
        <p>
            <%= startingAboutContent %>
        </p>
    </div>

    <!-- footer component -->
    <%- include("partials/footer"); -%>