<!-- header component -->
<%- include partials/header.ejs -%>
    <div class="container">

        <h1 class="heading">Contact</h1>
        <p>
            <%= startingContactContent %>
        </p>
        <div class="btnContact">

            <a href="/compose" class="btnAdd">Go My Website</a>
        </div>

    </div>

    <!-- footer component -->
    <%- include("partials/footer"); -%>