* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h6,
.sub_title {
  text-align: center;
}

.container-fluid {
  background-color: blanchedalmond;
}

.container-box {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.card {
  height: 200px;
  margin: 10px;
  padding: 0;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}

.card-header {
  background-color: blueviolet;
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
